.addNewSizeBtn {
    margin-top: 5px;
    margin-left: 110px;
}
.submitBtn{
    margin-left: 190px;
}
.background{
    transition: .6s filter;

}
.background.blured{
    filter:blur(3px) contrast(.8) brightness(.8);

}
.spinner{
    position: absolute;
    bottom: 50%;
    right: 50%;
}